*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

:root{
    --desaturated-dark-cyan:hsl(180, 29%, 50%);
    --light-grayish-bg:hsl(180, 52%, 96%);
    --dark-grayish-cyan:hsl(180, 8%, 52%);
    --light-grayish-cyan:hsl(180, 31%, 95%);
    --very-dark-grayish-cyan:hsl(180, 14%, 20%);

}
html{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}
.App{
    background-color: var(--light-grayish-bg);
    width: 100%;
}

 